*{
    margin: 0;
    padding: 0;
}

.logo-benzo{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 90px; /* Ajusta esto según el tamaño de tu logo */

}



h1{
    text-align: center;
    color: black;
    padding: 15px;
}

nav ul {
    background-color: white;
    border-bottom: 5px solid black;
    width: 100%;
    list-style-type: none;
    text-align: center;
}


nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 150px;
}

nav a:hover {
    color: white;
}

nav li:hover {
    background-color: black;
    border-radius: 10px
}

