* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

.logo-benzo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 90px;
}

.contenedor {
    max-width: 1200px;
    padding: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}

h1 {
    text-align: center;
    color: black;
    padding: 15px;
}

nav ul {
    background-color: white;
    border-bottom: 5px solid black;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 150px;
}

nav a:hover {
    color: white;
}

nav li:hover {
    background-color: black;
    border-radius: 10px
}

.foto-producto {
    padding: 10px;
    border-radius: 50%;
    width: auto;
    margin: auto;
    height: 200px;
}

.item {
    height: 40%;
    margin-right: auto;
    text-align: center;
    flex: 1;
    margin: 10px;
}

.texto-tarjeta {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.foto-producto {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    max-width: 100%;
}

.tarjeta-producto {
    width: 300px;
    color: white;
    position: relative;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 10px 0 #000b;
    margin: 20px;
    border-radius: 20px;
}
.menu-productos{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.agregar-carrito {
    text-align: center;
    font-size: 30px;
    width: 40px;
    text-decoration: none;
    background-color: gold;
    border: 0;
    border-radius: 50%;
}

.agregar-carrito {
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.tarjeta-producto::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #0003, transparent);
    border-radius: 20px;
}

/* Sección carrito */
.carrito {
    border: 1px solid #666;
    width: 20%;
    margin-top: 30px;
    margin-left: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    flex: 1;
    max-width: 350px;
}

.carrito .header-carrito {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.carrito .carrito-items {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad {
    display: inline-block;
    margin-right: 20px;
}

.carrito .carrito-item .carrito-item-cantidad {
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    text-align: center;
}

.carrito .carrito-item .btn-danger {
    color: #000;
    background: transparent;
    border-radius: 50%;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    width: 45px;
    margin-right: 10px; 
    position: relative;
    left: 65%;
}

.carrito .carrito-item .btn-restar {
    background-color: #ffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
}

.carrito .carrito-item .btn-agregar {
    background-color: #ffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
}

.carrito .carrito-total {
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
}

.carrito .carrito-total .fila {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.carrito .carrito-total .btn-pagar {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
